*{
    border: 100%;
    padding: 0px;
    margin: 0px;
    
}



#form{
    text-align: center;
    padding: 30px ;
    margin: 20% 25%;
    background-color: red;
}


#btn{
    text-align: center;
    background-color:blue;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    margin: 50px;
}

#btn:hover:active{
    background-color: red;
}

